<div *ngIf="naturalEvent">
  
  <div>
    <label>ID:</label>
    {{naturalEvent.id}}
  </div>
  <div>
    <label>Title:</label>
    {{naturalEvent.title}}
  </div>
  <div>
    <label>Description:</label>
    {{naturalEvent.description}}
  </div>
  <div>
    <label>Sources:</label>
    <a *ngFor="let source of naturalEvent.sources" [href]="source.url"> {{source.id}}</a>
  </div>
  <div>
    <label>Geometries:</label>
    <div *ngFor="let geometries of naturalEvent.geometries"> {{geometries.date}}: [ {{geometries.coordinates}} ]</div>
  </div>
</div>